$colors: (
    background_color: #A8D0E6, 
    main_color_one: #F8E9A1,
    main_color_two: #F76C6C,
    main_color_three: #41539c,
    accents: rgb(30, 39, 78)
);

@function color($color-name){
    @return map-get($colors, $color-name)
}

$desktop: 576px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content; 
    }
}

$desktop_large: 1000px;

@mixin desktop_large {
    @media (min-width: #{$desktop_large}) {
        @content; 
    }
}

body {
    padding-bottom: 20px;
    margin: 0;
    border: #A8D0E6 solid 15px;

    .context {
        width: 98.5%;
        height: 100%;
        position: absolute;
        top: 0vh;
        z-index: 1;
        border: transparent solid 5px;

        @include desktop {
            border: transparent solid 5px;
        }

        @include desktop_large {
            border: transparent solid 5px;
        }

        #title_div {
            border: transparent 3px solid;

            @include desktop_large {
                width: 80%;
                margin: auto;
            }
        }

        h1 {
            text-align: center;
            color: color(accents);
            font-size: 39px;
            font-weight: bold;
            padding-top: 20px;
            font-family: 'Poppins', sans-serif;

            @include desktop {
                font-size: 80px;
                padding-top: 30px;
            }

            @include desktop_large {
                font-size: 100px;
                padding-top: 5px;
            }
        }

        .main_title{
            text-shadow: 1px 1px black;
        }

        .food-title-line{
            text-decoration: underline;
            text-decoration-color: color(main_color_three);
        }

        .history-title-line{
            text-decoration: underline;
            text-decoration-color: color(main_color_one);
        }

        .film-title-line{
            text-decoration: underline;
            text-decoration-color: color(main_color_two);
        }

        #categories_div {
            text-align: center;
            padding: 0;
            margin: 0;
        }

        @include desktop {
            visibility: visible;
        }

        @include desktop_large {
            visibility: visible;
        }

        h2 {
            color: transparent;
            font-size: 1px;
            font-family: 'Poppins', sans-serif;

            @include desktop {
                color: black;
                font-size: 60px;
                padding-top: 30px;
                padding-bottom: 30px;
            }

            @include desktop_large {
                color: black;
                font-size: 80px;
                padding-top: 30px;
                padding-bottom: 30px;
            }
        }

        .button-container {
            margin: auto;
        
            h3 {
                text-align: center;
                font-size: 35px;
                color: black;
                font-family: 'Poppins', sans-serif;

                @include desktop {
                    font-size: 55px;
                    color: color(accents);
                }

                @include desktop_large {
                    font-size: 70px;
                    color: color(accents);
                }
            }

            .history-title{
                text-decoration: underline;
                text-decoration-color: color(main_color_one);
            }

            .film-title{
                text-decoration: underline;
                text-decoration-color: color(main_color_two);
            }

            .food-title{
                text-decoration: underline;
                text-decoration-color: color(main_color_three);
            }

            .btn-dark {
                text-align: center;
                color: color(background_color);
                font-size: 15px;
            }

            .btn {
                background-color: color(accents);
                border: color(accents) 2px solid;
            }

            .play-btn-div {
                text-align: center;
                padding-top: 10px;
                padding-bottom: 15px;
            }

            .history-div {
                border: transparent 2px solid;

                #image-div-history {
                    border: color(main_color_one) 5px solid;
                    background-color: color(background_color);
                    text-align: center;
                    margin: auto;
                    width: 18%;
                    word-break: none;
                    z-index: 1;

                    @include desktop {
                        min-width: 130px;
                    }

                    @include desktop_large {
                        min-width: 150px;
                    }

                    .fa-globe-americas {
                        color: color(main_color_one);
                        font-size: 55px;
                        padding-top: 10px;
                        padding-bottom: 10px;

                        @include desktop {
                            font-size: 80px;
                        }

                        @include desktop_large {
                            font-size: 120px;
                        }
                    }
                }
            }

            .film-div {
                border: transparent 2px solid;

                #image-div-film {
                    border: color(main_color_two) 5px solid;
                    background-color: color(background_color);
                    text-align: center;
                    margin: auto;
                    width: 18%;
                    z-index: 1;

                    @include desktop {
                        min-width: 130px;
                    }

                    @include desktop_large {
                        min-width: 150px;
                    }

                    .fa-film {
                        color: color(main_color_two);
                        font-size: 55px;
                        padding-top: 10px;
                        padding-bottom: 10px;

                        @include desktop {
                            font-size: 80px;
                        }

                        @include desktop_large {
                            font-size: 120px;
                        }
                    }
                }
            }

            .food-div {

                #image-div-food {
                    border: color(main_color_three) 5px solid;
                    background-color: color(background_color);
                    text-align: center;
                    margin: auto;
                    width: 18%;
                    z-index: 1;

                    @include desktop {
                        min-width: 130px;
                    }

                    @include desktop_large {
                        min-width: 150px;
                    }

                    .fa-pizza-slice {
                        color: color(main_color_three);
                        font-size: 55px;
                        padding-top: 10px;
                        padding-bottom: 10px;

                        @include desktop {
                            font-size: 80px;
                        }

                        @include desktop_large {
                            font-size: 120px;
                        }
                    }
                }
            }
        }
    }
}

/* Quiz Design */

.question{
    font-size: 20px;
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif;

    @include desktop {
        font-size: 35px;
    }

    @include desktop_large {
        font-size: 50px;
        margin-bottom: 30px;
    }
}

.answers {
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
    font-family: 'Poppins', sans-serif;

    @include desktop {
        font-size: 23px;
    }

    @include desktop_large {
        font-size: 23px;
    }

}

.answers label{
    display: block;
    margin-bottom: 10px;
}

button{
    font-family: 'Work Sans', sans-serif;
      font-size: 22px;
      background-color: color(accents);
      color: color(background_color);
      border: 0px;
      border-radius: 30px;
      padding: 10px;
      cursor: pointer;
      margin-bottom: 15px;
}

button:hover{
      background-color: color(accents);
}
 
.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}
  .active-slide{
    opacity: 1;
    z-index: 2;
}
  .quiz-container{
    position: relative;
    padding-bottom: 15px;
    width: 90%;
    margin: auto;
    margin-top: 40px;
    border: transparent 2px solid;
    text-align: center;

    @include desktop {
        border: transparent 2px solid;
    }

    @include desktop_large {
        border: transparent 2px solid;
    }

} 

.buttons{
    border: transparent 2px solid;
    margin: auto;
    width: 70%;
    margin-top: 250px;
    text-align: center;

    @include desktop {
        margin-top: 400px;
    }

    @include desktop_large {
        margin-top: 420px;
    }

}

#results{
    border: transparent 2px solid;
    text-align: center;
    font-size: 35px;
    margin-top: 0px;
}

.home-btn-div{
    border: transparent 2px solid;
    text-align: right;
}

/* Index Page Interactive Background */
.area_index{
    background: color(background_color);   
    width: 100%;
    height:100vh;
    padding-bottom: 20px;
    margin-bottom: -20px;
    z-index: -1;

    .circles_index{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: 0;
    }
    
    .circles_index li{
        position: absolute;
        display: block;
        list-style: none;
        width: 20px;
        height: 20px;
        /*background: color(accents);*/
        animation: animate 25s linear infinite;
        bottom: -150px;
        
    }
    
    .circles_index li:nth-child(1){
        left: 25%;
        width: 80px;
        height: 80px;
        animation-delay: 0s;
        background: color(main_color_one);
    }
    
    
    .circles_index li:nth-child(2){
        left: 10%;
        width: 20px;
        height: 20px;
        animation-delay: 2s;
        animation-duration: 12s;
        background: color(main_color_two);
    }
    
    .circles_index li:nth-child(3){
        left: 70%;
        width: 20px;
        height: 20px;
        animation-delay: 4s;
        background: color(main_color_one);
    }
    
    .circles_index li:nth-child(4){
        left: 40%;
        width: 60px;
        height: 60px;
        animation-delay: 0s;
        animation-duration: 18s;
        background: color(main_color_two);
    }
    
    .circles_index li:nth-child(5){
        left: 65%;
        width: 20px;
        height: 20px;
        animation-delay: 0s;
        background: color(main_color_three);
    }
    
    .circles_index li:nth-child(6){
        left: 75%;
        width: 110px;
        height: 110px;
        animation-delay: 3s;
        background: color(main_color_two);
    }
    
    .circles_index li:nth-child(7){
        left: 35%;
        width: 150px;
        height: 150px;
        animation-delay: 7s;
        background: color(main_color_three);
    }
    
    .circles_index li:nth-child(8){
        left: 50%;
        width: 25px;
        height: 25px;
        animation-delay: 15s;
        animation-duration: 45s;
        background: color(main_color_one);
    }
    
    .circles_index li:nth-child(9){
        left: 20%;
        width: 15px;
        height: 15px;
        animation-delay: 2s;
        animation-duration: 35s;
        background: color(main_color_three);
    }
    
    .circles_index li:nth-child(10){
        left: 85%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 11s;
        background: color(main_color_three);
    }

    @keyframes animate {

        0%{
            transform: translateY(0) rotate(0deg);
            opacity: 1;
            border-radius: 100%;
        }
    
        100%{
            transform: translateY(-1000px) rotate(720deg);
            opacity: 1;
            border-radius: 100%;
        }
    }
}

/* History Quiz Interactive Background */
.area_quiz_history{
    background: color(background_color);   
    width: 100%;
    height:100vh;
    padding-bottom: 20px;
    margin-bottom: -20px;
    z-index: -1;

    .circles_quiz_history{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: 0;
    }
    
    .circles_quiz_history li{
        position: absolute;
        display: block;
        list-style: none;
        width: 20px;
        height: 20px;
        /*background: color(accents);*/
        animation: animate 25s linear infinite;
        bottom: -150px;
        
    }
    
    .circles_quiz_history li:nth-child(1){
        left: 25%;
        width: 80px;
        height: 80px;
        animation-delay: 0s;
        background: color(main_color_one);
    }
    
    
    .circles_quiz_history li:nth-child(2){
        left: 10%;
        width: 20px;
        height: 20px;
        animation-delay: 2s;
        animation-duration: 12s;
        background: color(main_color_one);
    }
    
    .circles_quiz_history li:nth-child(3){
        left: 70%;
        width: 20px;
        height: 20px;
        animation-delay: 4s;
        background: color(main_color_one);
    }
    
    .circles_quiz_history li:nth-child(4){
        left: 40%;
        width: 60px;
        height: 60px;
        animation-delay: 0s;
        animation-duration: 18s;
        background: color(main_color_one);
    }
    
    .circles_quiz_history li:nth-child(5){
        left: 65%;
        width: 20px;
        height: 20px;
        animation-delay: 0s;
        background: color(main_color_one);
    }
    
    .circles_quiz_history li:nth-child(6){
        left: 75%;
        width: 110px;
        height: 110px;
        animation-delay: 3s;
        background: color(main_color_one);
    }
    
    .circles_quiz_history li:nth-child(7){
        left: 35%;
        width: 150px;
        height: 150px;
        animation-delay: 7s;
        background: color(main_color_one);
    }
    
    .circles_quiz_history li:nth-child(8){
        left: 50%;
        width: 25px;
        height: 25px;
        animation-delay: 15s;
        animation-duration: 45s;
        background: color(main_color_one);
    }
    
    .circles_quiz_history li:nth-child(9){
        left: 20%;
        width: 15px;
        height: 15px;
        animation-delay: 2s;
        animation-duration: 35s;
        background: color(main_color_one);
    }
    
    .circles_quiz_history li:nth-child(10){
        left: 85%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 11s;
        background: color(main_color_one);
    }

    @keyframes animate {

        0%{
            transform: translateY(0) rotate(0deg);
            opacity: 1;
            border-radius: 100%;
        }
    
        100%{
            transform: translateY(-1000px) rotate(720deg);
            opacity: 1;
            border-radius: 100%;
        }
    }
}

/* Film Quiz Interactive Background */
.area_quiz_film{
    background: color(background_color);   
    width: 100%;
    height:100vh;
    padding-bottom: 20px;
    margin-bottom: -20px;
    z-index: -1;

    .circles_quiz_film{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: 0;
    }
    
    .circles_quiz_film li{
        position: absolute;
        display: block;
        list-style: none;
        width: 20px;
        height: 20px;
        /*background: color(accents);*/
        animation: animate 25s linear infinite;
        bottom: -150px;
        
    }
    
    .circles_quiz_film li:nth-child(1){
        left: 25%;
        width: 80px;
        height: 80px;
        animation-delay: 0s;
        background: color(main_color_two);
    }
    
    .circles_quiz_film li:nth-child(2){
        left: 10%;
        width: 20px;
        height: 20px;
        animation-delay: 2s;
        animation-duration: 12s;
        background: color(main_color_two);
    }
    
    .circles_quiz_film li:nth-child(3){
        left: 70%;
        width: 20px;
        height: 20px;
        animation-delay: 4s;
        background: color(main_color_two);
    }
    
    .circles_quiz_film li:nth-child(4){
        left: 40%;
        width: 60px;
        height: 60px;
        animation-delay: 0s;
        animation-duration: 18s;
        background: color(main_color_two);
    }
    
    .circles_quiz_film li:nth-child(5){
        left: 65%;
        width: 20px;
        height: 20px;
        animation-delay: 0s;
        background: color(main_color_two);
    }
    
    .circles_quiz_film li:nth-child(6){
        left: 75%;
        width: 110px;
        height: 110px;
        animation-delay: 3s;
        background: color(main_color_two);
    }
    
    .circles_quiz_film li:nth-child(7){
        left: 35%;
        width: 150px;
        height: 150px;
        animation-delay: 7s;
        background: color(main_color_two);
    }
    
    .circles_quiz_film li:nth-child(8){
        left: 50%;
        width: 25px;
        height: 25px;
        animation-delay: 15s;
        animation-duration: 45s;
        background: color(main_color_two);
    }
    
    .circles_quiz_film li:nth-child(9){
        left: 20%;
        width: 15px;
        height: 15px;
        animation-delay: 2s;
        animation-duration: 35s;
        background: color(main_color_two);
    }
    
    .circles_quiz_film li:nth-child(10){
        left: 85%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 11s;
        background: color(main_color_two);
    }

    @keyframes animate {

        0%{
            transform: translateY(0) rotate(0deg);
            opacity: 1;
            border-radius: 100%;
        }
    
        100%{
            transform: translateY(-1000px) rotate(720deg);
            opacity: 1;
            border-radius: 100%;
        }
    }
}

/* Food Quiz Interactive Background */
.area_quiz_food{
    background: color(background_color);   
    width: 100%;
    height:100vh;
    padding-bottom: 20px;
    margin-bottom: -20px;
    z-index: -1;

    .circles_quiz_food{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: 0;
    }
    
    .circles_quiz_food li{
        position: absolute;
        display: block;
        list-style: none;
        width: 20px;
        height: 20px;
        /*background: color(accents);*/
        animation: animate 25s linear infinite;
        bottom: -150px;
        
    }
    
    .circles_quiz_food li:nth-child(1){
        left: 25%;
        width: 80px;
        height: 80px;
        animation-delay: 0s;
        background: color(main_color_three);
    }
    
    .circles_quiz_food li:nth-child(2){
        left: 10%;
        width: 20px;
        height: 20px;
        animation-delay: 2s;
        animation-duration: 12s;
        background: color(main_color_three);
    }
    
    .circles_quiz_food li:nth-child(3){
        left: 70%;
        width: 20px;
        height: 20px;
        animation-delay: 4s;
        background: color(main_color_three);
    }
    
    .circles_quiz_food li:nth-child(4){
        left: 40%;
        width: 60px;
        height: 60px;
        animation-delay: 0s;
        animation-duration: 18s;
        background: color(main_color_three);
    }
    
    .circles_quiz_food li:nth-child(5){
        left: 65%;
        width: 20px;
        height: 20px;
        animation-delay: 0s;
        background: color(main_color_three);
    }
    
    .circles_quiz_food li:nth-child(6){
        left: 75%;
        width: 110px;
        height: 110px;
        animation-delay: 3s;
        background: color(main_color_three);
    }
    
    .circles_quiz_food li:nth-child(7){
        left: 35%;
        width: 150px;
        height: 150px;
        animation-delay: 7s;
        background: color(main_color_three);
    }
    
    .circles_quiz_food li:nth-child(8){
        left: 50%;
        width: 25px;
        height: 25px;
        animation-delay: 15s;
        animation-duration: 45s;
        background: color(main_color_three);
    }
    
    .circles_quiz_food li:nth-child(9){
        left: 20%;
        width: 15px;
        height: 15px;
        animation-delay: 2s;
        animation-duration: 35s;
        background: color(main_color_three);
    }
    
    .circles_quiz_food li:nth-child(10){
        left: 85%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 11s;
        background: color(main_color_three);
    }

    @keyframes animate {

        0%{
            transform: translateY(0) rotate(0deg);
            opacity: 1;
            border-radius: 100%;
        }
    
        100%{
            transform: translateY(-1000px) rotate(720deg);
            opacity: 1;
            border-radius: 100%;
        }
    }
}